.team-lead-interfaces {
  padding: 20px;
  color: #ffffff;
  border-radius: 12px;
  width: 75%;
  margin: 10px 290px;
  height: 100vh;
  overflow-y: scroll;
}
.team-lead-interfaces::-webkit-scrollbar {
  display: none;
}

.team-lead-interfaces h4,
.team-lead-interfaces h2 {
  font-weight: 600;
  margin-bottom: 15px;
  color: #00bcd4;
}

.team-lead-interfaces .table {
  background-color: #1e1e1e;
  border-radius: 10px;
  overflow: hidden;
}

.team-lead-interfaces .table th,
.team-lead-interfaces .table td {
  vertical-align: middle;
  color: #ffffff;
}

.team-lead-interfaces .table-hover tbody tr:hover {
  background-color: #2a2a2a;
}

.team-lead-interfaces .btn {
  border-radius: 8px;
}

.team-lead-interfaces .files-list {
  margin-top: 30px;
  overflow-y: auto;
  margin: 10px;
 
  
}
.team-lead-interfaces .files-list .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-height: 350px; /* ~2 rows */
  overflow-y: scroll;
  padding: 10px 15px;
  border: 1px solid #1e1e1e;

}

.team-lead-interfaces .custom-col {
  flex: 0 0 20%; /* 5 items per row */
  max-width: 20%;
  padding: 18px;
  box-sizing: border-box;
 
}

.team-lead-interfaces .card {
  height: 100%;
}


.team-lead-interfaces .files-list h5 {
  font-weight: 500;
  color: #00acc1;
}

.team-lead-interfaces .card {
  border: none;
  transition: all 0.3s ease;
}

.team-lead-interfaces .card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 12px rgba(241, 244, 245, 0.866);
}

.team-lead-interfaces .card-title {
  color: #ffeb3b;
  font-size: 1rem;
  font-weight: 500;
}

.team-lead-interfaces .btn-outline-primary,
.team-lead-interfaces .btn-outline-info {
  border-radius: 6px;
}



.team-lead-interfaces .preview-overlay {
  border-radius: 10px;
  z-index: 1000;
  background-color: rgba(9, 8, 8, 0.841);
  animation: zoomIn 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  padding: 20px;
  margin: 1px 1px 1px 0px;
  width: 100vw;
}

.team-lead-interfaces .preview-overlay iframe {
  border-radius: 10px;
  transition: transform 0.3s ease;
  border-radius:1rem ;
  
}

/* Zoom animation */
@keyframes zoomIn {
  from {
    transform: scale(0.6);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}



.team-lead-interfaces .alert {
  font-size: 0.95rem;
}
